<!DOCTYPE html>
<html lang="en"  ng-app="cartelera">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cines Zoco Majadahonda</title>

    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="lib/bootstrap/css/agency.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Cines Zoco Majadahonda</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#billboard">Cartelera</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#prices">Precios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#coming-soon">Próximamente</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido a los cines Zoco Majadahonda!</div>
                <div class="intro-heading">Cine para todos</div>
                <a href="#billboard" class="page-scroll btn btn-xl">Más información</a>
            </div>
        </div>
    </header>

    <!-- Billboard Section -->
    <section id="billboard" ng-controller="FilmsController">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">cartelera</h2>
                    <h3 class="section-subheading text-muted">Todas las novedades a tu alcance</h3>
                </div>
            </div>
            <div class="row">


                <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="movie in movies">
                    <a href="#warcraft" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img ng-src="img/cartelera/warcraft.jpg" class="img-responsive film" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ movie.name }}</h4>
                        <p class="text-muted" ng-repeat="director in movie.directors">{{ $index != movie.directors.length - 1 ? director.name + ',' : director.name }}</p>
                    </div>
                </div>



                <!--<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#xmen" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cartelera/x-men-apocalipsis.jpg" class="img-responsive film" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>X-MEN: APOCALIPSIS</h4>
                        <p class="text-muted">Bryan Singer</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#angry-birds" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cartelera/angry-birds.jpg" class="img-responsive film" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>ANGRY BIRDS. LA PELÍCULA</h4>
                        <p class="text-muted">Clay Kaytis, Fergal Reilly</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#capitan-america" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cartelera/capitan-america.jpg" class="img-responsive film" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>CAPITÁN AMÉRICA: CIVIL WAR</h4>
                        <p class="text-muted">Anthony Russo, Joe Russo</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#el-olivo" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cartelera/el-olivo.jpg" class="img-responsive film" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>EL OLIVO</h4>
                        <p class="text-muted">Íciar Bollaín</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#doctor-campina" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/cartelera/doctor-campina.jpg" class="img-responsive film" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>UN DOCTOR EN LA CAMPIÑA</h4>
                        <p class="text-muted">Thomas Lilti</p>
                    </div>
                </div>-->
            </div>
        </div>
    </section>

    <!-- Price Grid Section -->
    <section id="prices" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Precios</h2>
                    <h3 class="section-subheading text-muted">Consulta los mejores precios</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table border="2" class="table text-center">
                        <tbody>
                            <tr>
                                <th class="blue bg-gray text-center">Sesiones</th>
                                <th class="blue bg-gray text-center"></th>
                                <th class="blue bg-gray text-center">Socios</th>
                                <th class="blue bg-gray text-center">No Socios</th>
                            </tr>
                            <tr>
                                <td rowspan="2" class="v-align">Lunes</td>
                                <td>Mayor de 60 años</td>
                                <td>3,00 €</td>
                                <td>4,50 €</td>
                            </tr>
                            <tr>
                                <td>General</td>
                                <td>4,00 €</td>
                                <td>7,00 €</td>
                            </tr>
                            <tr>
                                <td>Martes</td>
                                <td>Día del espectador V.O.</td>
                                <td>3,00 €</td>
                                <td>4,50 €</td>
                            </tr>
                            <tr>
                                <td>Miercoles</td>
                                <td>Día del espectador V.Doblada</td>
                                <td>3,00 €</td>
                                <td>4,50 €</td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="v-align">Jueves</td>
                                <td>Menor de 30 años (Cartelera en V.O. )</td>
                                <td>3,00 €</td>
                                <td>4,50 €</td>
                            </tr>
                            <tr>
                                <td>General</td>
                                <td>4,00 €</td>
                                <td>7,00 €</td>
                            </tr>
                            <tr>
                                <td>Viernes, Sabado, Domingo y Festivos</td>
                                <td>&nbsp;</td>
                                <td>4,50 €</td>
                                <td>8,00 €</td>
                            </tr>
                            <tr>
                                <td>Primera sesión Sábado y Domingo</td>
                                <td>&nbsp;</td>
                                <td>4,00 €</td>
                                <td>7,00 €</td>
                            </tr>
                            <tr>
                                <td>Pases infantiles</td>
                                <td>2º sábado de cada mes, evento matinal</td>
                                <td>4,00 € (*) </td>
                                <td>6,00 €</td>
                            </tr>
                            <tr>
                                <td>Último pase Domingos y Festivos</td>
                                <td>&nbsp;</td>
                                <td>4,00 €</td>
                                <td>7,00 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Coming Soon Section -->
    <section id="coming-soon">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Próximamente</h2>
                    <h3 class="section-subheading text-muted">Estrenos que están por venir</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive img-custom" src="img/cartelera/eddie.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10/06/2016</h4>
                                    <h4 class="subheading">EDDIE EL ÁGUILA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dexter Fletcher</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive img-custom" src="img/cartelera/rumbos.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10/06/2016</h4>
                                    <h4 class="subheading">RUMBOS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Manuela Moreno</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive img-custom" src="img/cartelera/ninja-turtles.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>17/06/2016</h4>
                                    <h4 class="subheading">NINJA TURTLES: FUERA DE LAS SOMBRAS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dave Green</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive img-custom" src="img/cartelera/buscando-dory.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>22/06/2016</h4>
                                    <h4 class="subheading">BUSCANDO A DORY</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Andrew Stanton, Angus Maclane</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.cocacola.es/home/" target="_blank">
                        <img src="img/logos/cocacola.png" class="img-responsive img-centered img-client" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.dolby.com/us/en/platforms/dolby-cinema.html" target="_blank">
                        <img src="img/logos/dolby.png" class="img-responsive img-centered img-client" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.imax.com/es/theatres" target="_blank">
                        <img src="img/logos/imax.png" class="img-responsive img-centered img-client" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.iberia.es" target="_blank">
                        <img src="img/logos/iberia.png" class="img-responsive img-centered img-client" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contacto</h2>
                    <h3 class="section-subheading text-muted">Contacta con nosotros para preguntarnos cualquier duda</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tu nombre*" id="name" required data-validation-required-message="Porfavor añade tu nombre.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Tu email *" id="email" required data-validation-required-message="Porfavor añade tu dirección de correo.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensaje *" id="message" required data-validation-required-message="Porfavor añade un mensaje."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Cines Zoco Majadahonda 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/cineszoco" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/cinezocomajadahonda" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Política de Privacidad</a>
                        </li>
                        <li><a href="#">Términos de Uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Films Modals -->

    <!-- Film Modal 1 -->
    <div class="portfolio-modal modal fade" id="warcraft" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>WARCRAFT: EL ORIGEN</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-billboard" src="img/cartelera/warcraft.jpg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="modal-body film-description">
                            <p><i class="fa fa-clock-o blue margin-icon"></i><strong>Duración:</strong> 123 min<p>
                            <p><i class="fa fa-flag blue margin-icon"></i><strong>País:</strong> Estados Unidos<p>
                            <p><i class="fa fa-tag blue margin-icon"></i><strong>Género:</strong> Aventura - Fantasía<p>
                            <p><i class="fa fa-calendar blue margin-icon"></i><strong>Estreno:</strong> 03/06/2016<p>
                            <p><i class="fa fa-bullhorn blue margin-icon"></i></i><strong>Directores:</strong> Duncan Jones<p>
                            <p><i class="fa fa-users blue margin-icon"></i><strong>Actores:</strong> Ben Foster, Dominic Cooper, Paula Patton, Robert Kazinsky, Toby Kebbell, Travis Fimmel<p>
                            <p><i class="fa fa-film blue margin-icon"></i><strong>Productores:</strong> Blizzard Entertainment, Inc., Legendary Pictures, United Pictures International<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Película</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="film-description">
                           <strong>Sinopsis:</strong> El pacífico reino de Azeroth está a punto de entrar en guerra para enfrentarse a unos terribles invasores: orcos guerreros que han dejado su destruido reino para colonizar otro. Al abrirse un portal que conecta ambos mundos, un ejército se enfrenta a la destrucción, y el otro, a la extinción. Dos héroes, uno en cada bando, están a punto de chocar en un enfrentamiento que cambiará el destino de su familia, su pueblo y su hogar. Así arranca una espectacular saga de poder y sacrificio donde se descubren las numerosas caras de la guerra y en la que cada cual lucha por lo suyo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Film Modal 2 -->
    <div class="portfolio-modal modal fade" id="xmen" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>X-MEN: APOCALIPSIS</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-billboard" src="img/cartelera/x-men-apocalipsis.jpg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="modal-body film-description">
                            <p><i class="fa fa-clock-o blue margin-icon"></i><strong>Duración:</strong> 144 min<p>
                            <p><i class="fa fa-flag blue margin-icon"></i><strong>País:</strong> Estados Unidos<p>
                            <p><i class="fa fa-tag blue margin-icon"></i><strong>Género:</strong> Aventura - Fantasía - Acción<p>
                            <p><i class="fa fa-calendar blue margin-icon"></i><strong>Estreno:</strong> 20/05/2016<p>
                            <p><i class="fa fa-bullhorn blue margin-icon"></i></i><strong>Directores:</strong> Bryan Singer<p>
                            <p><i class="fa fa-users blue margin-icon"></i><strong>Actores:</strong> Evan Peters, Jennifer Lawrence, Michael Fassbender, Rose Byrne<p>
                            <p><i class="fa fa-film blue margin-icon"></i><strong>Productores:</strong> 20th Century Fox Film Corporation, Dune Entertainment, Hispano Films, Marvel Entertainment<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Película</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="film-description">
                            <strong>Sinopsis:</strong> Desde los albores de la civilización, fue adorado como un dios. Apocalipsis, el primer y más poderoso mutante del universo X-Men de Marvel, acumuló los poderes de muchos otros mutantes, convirtiéndose en inmortal e invencible. Pero al despertar tras miles de años, se encuentra desilusionado con el mundo en que se encuentra y decide reclutar un equipo de mutantes poderosos, entre ellos a un descorazonado Magneto (Michael Fassbender), con el fin de limpiar la humanidad y crear una nueva orden mundial, sobre la cual él reinará. A medida que el destino de la tierra está en juego, Raven (Jennifer Lawrence) con la ayuda del Profesor X (James McAvoy) se unirán junto a un equipo de jóvenes X-Men para detener a su mayor enemigo y salvar así a la humanidad de la destrucción total.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Film Modal 3 -->
    <div class="portfolio-modal modal fade" id="angry-birds" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>ANGRY BIRDS. LA PELÍCULA</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-billboard" src="img/cartelera/angry-birds.jpg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="modal-body film-description">
                            <p><i class="fa fa-clock-o blue margin-icon"></i><strong>Duración:</strong> 97 min<p>
                            <p><i class="fa fa-flag blue margin-icon"></i><strong>País:</strong> Estados Unidos<p>
                            <p><i class="fa fa-tag blue margin-icon"></i><strong>Género:</strong> Animación - Comedia - Acción<p>
                            <p><i class="fa fa-calendar blue margin-icon"></i><strong>Estreno:</strong> 13/05/2016<p>
                            <p><i class="fa fa-bullhorn blue margin-icon"></i></i><strong>Directores:</strong> Clay Kaytis, Fergal Reilly<p>
                            <p><i class="fa fa-users blue margin-icon"></i><strong>Actores:</strong> Bill Hader, Jason Sudeikis, Keegan-michael Key, Peter Dinklage<p>
                            <p><i class="fa fa-film blue margin-icon"></i><strong>Productores:</strong> Rovio Mobile, Sony Pictures Animation, Sony Pictures Imageworks (SPI)<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Película</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="film-description">
                            <strong>Sinopsis:</strong> El rey Pig y toda la piara malvada ha planeado una meticulosa estrategia para conseguir los huevos tan preciados de los pájaros enfadados. Cuando los plumíferos con malas pulgas descubren que han sido robados por su enemigo más despiadado, deciden contraatacar con un arriesgado plan en el que tendrán que luchar y dar lo mejor de sus increíbles capacidades para salir victoriosos. Angry Birds está basada en el videojuego con el mismo nombre de animación para móviles, protagonizado por los tres famosos pájaros enfadados y unos cerdos ladrones de huevos. El juego fue creado por la empresa finlandesa Rovio Mobile en el año 2009 y debido al éxito cosechado, Rovio y Sony decidieron producir la película conjuntamente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Film Modal 4 -->
    <div class="portfolio-modal modal fade" id="capitan-america" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>CAPITÁN AMÉRICA: CIVIL WAR</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-billboard" src="img/cartelera/capitan-america.jpg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="modal-body film-description">
                            <p><i class="fa fa-clock-o blue margin-icon"></i><strong>Duración:</strong> 148 min<p>
                            <p><i class="fa fa-flag blue margin-icon"></i><strong>País:</strong> Estados Unidos<p>
                            <p><i class="fa fa-tag blue margin-icon"></i><strong>Género:</strong> Ciencia Ficción - Acción - Thriller<p>
                            <p><i class="fa fa-calendar blue margin-icon"></i><strong>Estreno:</strong> 29/04/2016<p>
                            <p><i class="fa fa-bullhorn blue margin-icon"></i></i><strong>Directores:</strong> Anthony Russo, Joe Russo<p>
                            <p><i class="fa fa-users blue margin-icon"></i><strong>Actores:</strong> Chris Evans, Elizabeth Olsen, Paul Bettany, Scarlett Johansson<p>
                            <p><i class="fa fa-film blue margin-icon"></i><strong>Productores:</strong> Disney/Pixar, Marvel Entertainment, Marvel Studios, Sony Pictures Imageworks<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Película</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="film-description">
                            <strong>Sinopsis:</strong> "El Capitán América: Guerra Civil" de Marvel empieza donde lo dejó "Los Vengadores: La Era de Ultrón" ya que Steve Rogers lidera el nuevo equipo de los Vengadores en su incesante tarea de proteger a la humanidad. Después de que otro incidente internacional en el que se ven envueltos los Vengadores produzca daños colaterales, la presión política obliga a poner en marcha un sistema para depurar responsabilidades y un organismo rector que determine cuándo hay que recurrir a los servicios del equipo. El nuevo statu quo divide a los Vengadores mientras intentan proteger al mundo de un nuevo malvado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Film Modal 5 -->
    <div class="portfolio-modal modal fade" id="el-olivo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>EL OLIVO</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-billboard" src="img/cartelera/el-olivo.jpg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="modal-body film-description">
                            <p><i class="fa fa-clock-o blue margin-icon"></i><strong>Duración:</strong> 98 min<p>
                            <p><i class="fa fa-flag blue margin-icon"></i><strong>País:</strong> España<p>
                            <p><i class="fa fa-tag blue margin-icon"></i><strong>Género:</strong> Drama<p>
                            <p><i class="fa fa-calendar blue margin-icon"></i><strong>Estreno:</strong> 06/05/2016<p>
                            <p><i class="fa fa-bullhorn blue margin-icon"></i></i><strong>Directores:</strong> Íciar Bollaín<p>
                            <p><i class="fa fa-users blue margin-icon"></i><strong>Actores:</strong> Ana Castillo, Carmen Plá, Javier Gutiérrez, Manuel Cucala, Miguel Ángel Aladrén, Pep Ambrós<p>
                            <p><i class="fa fa-film blue margin-icon"></i><strong>Productores:</strong> Aurum, Coproducción España-Alemania; Morena Films, Match Factory Productions<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Película</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="film-description">
                            <strong>Sinopsis:</strong> Alma es una chica de 20 años que quiere enormemente a su abuelo, quien lleva años sin hablar. Cuando el anciano se niega también a comer, la muchacha decide recuperar el árbol milenario que la familia vendió contra su voluntad. Para tal empresa embarca a su tío, un hombre perjudicado por la crisis, a su amigo Rafa y a todo el pueblo. Ahora hay que encontrar en qué lugar de Europa está el olivo plantado… y devolverlo a su sitio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Film Modal 5 -->
    <div class="portfolio-modal modal fade" id="doctor-campina" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>UN DOCTOR EN LA CAMPIÑA</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <div class="modal-body">
                            <img class="img-responsive img-centered img-billboard" src="img/cartelera/doctor-campina.jpg" alt=""> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="modal-body film-description">
                            <p><i class="fa fa-clock-o blue margin-icon"></i><strong>Duración:</strong> 102 min<p>
                            <p><i class="fa fa-flag blue margin-icon"></i><strong>País:</strong> Francia<p>
                            <p><i class="fa fa-tag blue margin-icon"></i><strong>Género:</strong> Drama - Comedia<p>
                            <p><i class="fa fa-calendar blue margin-icon"></i><strong>Estreno:</strong> 27/05/2016<p>
                            <p><i class="fa fa-bullhorn blue margin-icon"></i></i><strong>Directores:</strong> Thomas Lilti<p>
                            <p><i class="fa fa-users blue margin-icon"></i><strong>Actores:</strong> Christophe Odent, Félix Moati, François Cluzet, Isabelle Sadoyan, Marianne Denicourt, Patrick Descamps<p>
                            <p><i class="fa fa-film blue margin-icon"></i><strong>Productores:</strong> 31 JUIN FILMS, Caramel Film, Cinefrance<p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar Película</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="film-description">
                            <strong>Sinopsis:</strong> Todas las personas que viven en esta zona rural pueden contar con Jean-Pierre, el médico que les ausculta, les cura y les tranquiliza a cualquier hora del día, los siete días de la semana. Enfermo a su vez, acepta la llegada de Nathalie, recién llegada de su trabajo de hospital, para que le ayude. Pero ¿se las arreglará para adaptarse a esta nueva vida y sobre todo a conseguir el reto de sustituir a aquel que se creía irremplazable?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- jQuery -->
    <script src="lib/jquery/jquery.js"></script>
     <script src="node_modules/URIjs/src/URI.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="dist/script.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="lib/bootstrap/js/classie.js"></script>
    <script src="lib/bootstrap/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="lib/bootstrap/js/jqBootstrapValidation.js"></script>
    <script src="lib/bootstrap/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="lib/bootstrap/js/agency.js"></script>

</body>

</html>
