.blue {
	color: #1EC6D0;
}
.bg-gray {
	background-color: #F1F0F0;
}
.v-align {
	line-height: 56px !important;
}
.film {
	max-height: 250px;
}
.img-billboard {
	max-height: 700px;
}
.film-description {
	text-align: justify;
}
.margin-icon {
	margin-right: 10px;
	font-size: 21px !important;
}
.img-custom {
	height: 100%;
    width: 100%;
    border-radius: 0% !important;
}
.timeline > li .timeline-image {
	border-radius: 0% !important;
	height: 122%;
}
.img-client {
	max-height: 63px;
	min-width: 78px;
}
section#contact .form-group textarea.form-control {
    height: 149px;
}
